@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
:root {
    --primary-1: hsl(1, 90%, 64%);
    --primary-2: hsl(219, 85%, 26%);


    
    --neutral-50: hsl(0, 0%, 100%);
    --neutral-100: hsl(210, 60%, 98%);
    --neutral-200: hsl(211, 68%, 94%);
    --neutral-300: hsl(205, 33%, 90%);
    --neutral-400: hsl(219, 14%, 63%);
    --neutral-500: hsl(219, 12%, 42%);
    --neutral-600: hsl(224, 21%, 14%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-100);
}

.container {
    padding: 20px;
    max-width: 670px;
    background-color: var(--neutral-50);
    margin: 40px 0;
    border-radius: 5px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.title {
    font-size: 1.5rem;
}
.nf-count {
    padding: 3px 10px;
    background-color: var(--primary-2);
    color: var(--neutral-50);
    border-radius: 5px;
    font-size: 1.1rem;
    margin-left: 5px;
}
.mark-read {
    font-size: 0.9rem;
    color: var(--neutral-500);
}

.notifications {
    margin-top: 20px;
}
.notification {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.notification.not-read  {
    background-color: var(--neutral-100);
}
.nf-avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.name {
    color: var(--neutral-600);
    font-weight: 800;
}
.activity {
    color: var(--neutral-400);
    margin-inline: 5px;
}
.group {
    color: var(--primary-2);
    font-weight: 800;
}
.post {
    color: var(--neutral-500);
    font-weight: 500;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: var(--primary-1);
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
}
.date {
    color: var(--neutral-400);
    font-size: 0.9rem;
}
:is(.name, .post, .mark-read):hover {
    color: var(--primary-2);
}
.message {
    padding: 15px;
    border: 0.5px solid var(--neutral-200);
    color: var(--neutral-400);
    border-radius: 5px;
    margin: 10px 0;
    transition: .4s;
}
.message:hover {
    background-color: var(--neutral-200);
    cursor: pointer;
}
.nf-avatar-2 {
    width: 50px;
    margin-left: auto;
}